ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2%;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: fit-content;
  border: 2px solid black;
  border-radius: 3px;

  background-color: white;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.267);
}

li > p {
  margin: 2%;
}

img {
  height: 100px;
  width: 200px;
}

button {
  margin: 2%;
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
}

button:hover {
  background-color: black;
  color: white;
}

.nav-icons {
  height: 50px;
  width: 50px;
}
